<%- include('../../partials/header.ejs') %>

<body>
    <%- include ('../../partials/navbar.ejs') %>
        <br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Edição de Categoria</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/admin/categories/update">
                        <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>"
                            required>
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <br>
                        <button class="btn btn-primary">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
</body>

<%- include ('../../partials/footer.ejs') %>