<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/homenavbar.ejs') %>
    <br>
    <div class="container">
        
        <div class="jumbotron">
            <h1 class="display-4">Bem vindo ao BlogPress!</h1>
            <p class="lead">Este é um exemplo simples de criação de um blog utilizando nodejs com express, bootstrap, ejs e sequelize.</p>
            <hr class="my-4">
            <p>Agradeço o acesso, aqui podem ser vistos conteúdos relevantes para o mundo da programação em forma de artigos.</p>
        </div>
        <hr class="bg-secondary">
        <% articles.forEach((article) => { %>
            <div class="card">
                <div class="card-header">
                    <h3> <%= article.title %> </h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-info" href="/articles/<%= article.slug %>">Ler Artigo</a>
                </div>
            </div>
            <br>
        <% }); %>
        <div class="row">
            <div class="col">
                <a class="btn btn-info" href="/articles/page/2" style="float:right">Próxima Página >></a>  
            </div>
        </div>
        <hr class="bg-secondary">
    </div>
</body>

<%- include ('partials/footer.ejs') %>